
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
    margin: 0;
    background-color: black;
    color: #E7D37F;
    font-family: Poppins;
}

/* Navigation */
nav {
    display: flex;
    justify-content: space-around;
    padding: 1%;
    align-items: center;
    height: 6vh;
    position: sticky;
    top: 0;
    overflow: hidden;
}

main {
    height: 100vh;
}

iframe {
    border: none;
    width: 100%;
    height: 100%;
}


.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}


a {
    text-decoration: none;
}

span {
    color: #ECDFCC;
    font-size: 25px;
}

ul {
    display: flex;
    font-size: 13px;
    gap: 30px;
    list-style: none;
    background-color: transparent;
}

li a{
    text-decoration: none;
    align-items: center;
}

li a:hover {
    text-decoration: underline;
    text-underline-offset: 10px;
    
}

nav h1 {
    font-size: 30px;
    background-color: transparent;
}

span {
    font-size: 25px;
}

#active-nav {
    text-decoration: underline;
    text-underline-offset: 10px;
    font-weight: 400;
}

footer p {
    display: flex;
    font-size: 10px;
    justify-content: center ;
}

.active {
    text-decoration: underline;
    text-underline-offset: 10px;
    font-weight: 400;
}

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
    body {
        nav {
            display: flex;
            justify-content: space-around;
            padding: 3%;
            width: 100%;
        }
    
        .navigation {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    
        .nav-menu {
            position: fixed;
            display: none;
            height: 50px;
            justify-content: center;
            flex-direction: column;
            gap: 5px;
            background-color: #3C3D37;
            box-shadow: 0px 3px 5px -2px;
            border-radius: 10px;
            text-align: center;
            transition: 0.3s;
            padding: 0;
        }
    
        .nav-menu li a, .nav-menu li {
            width: 150px;
            background-color: transparent;
        }
    
        .nav-menu.active {
            display: flex;
            height: min-content;
            align-items: center;
            justify-content: center;
            width: 300px;
            text-decoration: none;
            font-size: 15px;
            padding: 20px;
            gap: 20px;
            top: 120px;
        }
    
        .nav-item {
            margin: 2.5rem 0;
        }
    
        .hamburger {
            display: block;
            cursor: pointer;
            background-color: #E7D37F;
        }
    
        .hamburger.active .bar:nth-child(2) {
            opacity: 0;
        }
    
        .hamburger.active .bar:nth-child(1) {
            transform: translateY(8px) rotate(45deg);
        }
    
        .hamburger.active .bar:nth-child(3) {
            transform: translateY(-8px) rotate(-45deg);
        }

        footer p {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 10px;
        }
    }
}
  
/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
    body {
        nav {
            display: flex;
            justify-content: space-around;
            padding: 3%;
            width: 100%;
        }
    
        .navigation {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    
        .nav-menu {
            position: fixed;
            display: none;
            height: 50px;
            justify-content: center;
            flex-direction: column;
            gap: 5px;
            background-color: #3C3D37;
            box-shadow: 0px 3px 5px -2px;
            border-radius: 10px;
            text-align: center;
            transition: 0.3s;
            padding: 0;
        }
    
        .nav-menu li a, .nav-menu li {
            width: 150px;
            background-color: transparent;
        }
    
        .nav-menu.active {
            display: flex;
            height: min-content;
            align-items: center;
            justify-content: center;
            width: 500px;
            text-decoration: none;
            font-size: 15px;
            padding: 20px;
            gap: 20px;
            top: 120px;
        }
    
        .nav-item {
            margin: 2.5rem 0;
        }
    
        .hamburger {
            display: block;
            cursor: pointer;
            background-color: #E7D37F;
        }
    
        .hamburger.active .bar:nth-child(2) {
            opacity: 0;
        }
    
        .hamburger.active .bar:nth-child(1) {
            transform: translateY(8px) rotate(45deg);
        }
    
        .hamburger.active .bar:nth-child(3) {
            transform: translateY(-8px) rotate(-45deg);
        }

        footer p {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 10px;
        }
    }
}
  
/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {
    body {
        nav {
            display: flex;
            justify-content: space-around;
            padding: 3%;
            width: 100%;
        }
    
        .navigation {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    
        .nav-menu {
            position: fixed;
            display: none;
            height: 50px;
            justify-content: center;
            flex-direction: column;
            gap: 5px;
            background-color: #3C3D37;
            box-shadow: 0px 3px 5px -2px;
            border-radius: 10px;
            text-align: center;
            transition: 0.3s;
            padding: 0;
        }
    
        .nav-menu li a, .nav-menu li {
            width: 150px;
            background-color: transparent;
        }
    
        .nav-menu.active {
            display: flex;
            height: min-content;
            align-items: center;
            justify-content: center;
            width: 600px;
            text-decoration: none;
            font-size: 15px;
            padding: 20px;
            gap: 20px;
            top: 120px;
        }
    
        .nav-item {
            margin: 2.5rem 0;
        }
    
        .hamburger {
            display: block;
            cursor: pointer;
            background-color: #E7D37F;
        }
    
        .hamburger.active .bar:nth-child(2) {
            opacity: 0;
        }
    
        .hamburger.active .bar:nth-child(1) {
            transform: translateY(8px) rotate(45deg);
        }
    
        .hamburger.active .bar:nth-child(3) {
            transform: translateY(-8px) rotate(-45deg);
        }

        footer p {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 10px;
        }
    }
}
  
  /* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px) {
    body {

        footer p {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 10px;
        }
    }
}



